{% extends 'hospital/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
   <div class="content-section">
       <form method="POST">
           {% csrf_token %}
           <fieldset class="form-group">
               <legend class="border-bottom mb-4"> Change Password</legend>
               {{ form|crispy }}

           </fieldset>
           <div class="form-group">
               <button class="btn btn-outline-info" type="submit">Change Password</button>
            <a class="btn btn-danger" href="{% url 'login' %}" >Cancel</a>
           </div>
       </form>
       

   </div>

{% endblock content %}
    

