{% extends 'hospital/base.html' %}

{% block content %}
    <div class="right_col" role="main">
            <div class="">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h2 class="text-center"> Appointments </h2>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <table id="appointment-datatable" class="table  table-hover  table-bordered ">
                        <thead  class="table-dark">
                          <tr>
                            <th scope="col">Booking Code</th>
                            <th scope="col">Patient Name</th>
                            <th scope="col">Service</th>
                            <th scope="col">Doctor</th>
                            <th scope="col">Start Date</th>
                            <th scope="col" class="text-center">Operations</th>
                          </tr>
                        </thead class='thead-light'>

                        <tbody>
                            {% for appointment in appointments %}
                                <tr>
                                    <td>{{ appointment.booking_code}}</td>
                                    <td>{{ appointment.patient.get_full_name }}</td>
                                    <td>{{ appointment.doctor_time_slots.doctor_service.service.name }}</td>
                                    <td>{{ appointment.doctor_time_slots.doctor_service.doctor.get_full_name }}</td>
                                    <td>{{ appointment.doctor_time_slots.start_date }}</td>
                                    <td  class="text-center">
                                            <a href="{% url 'appointments-update' appointment.pk %}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                            <a href="{% url 'appointments-delete' appointment.pk %}" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i> Delete </a>
                                    </td>
                                  </tr>
                            {% endfor %}
                        </tbody>
                      </table>

                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
{% endblock content%}