{% extends 'hospital/base.html' %}

{% block content %}

<main class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-12 px-0">
      <h1 class="display-4 fst-italic">Hospital U.S.S.D. Appointment System</h1>
      <p class="lead my-3"><em>The project uses Africa’s Talking API to create a Hospital Appointment System.
        A patient is able to use a U.S.S.D code to book his/her Appointment.
        If the process is successful, a booking code is generated for that particular Appointment. 
        The booking code is later used to verify the patient's Appointment at the Hospital.
      </em></p>
    </div>
  </div>

    <h3 class="pb-4 mb-4 fst-italic border-bottom text-center">
        Steps to take
      </h3>
      
      

    <div class="row mb-2">
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">Step 1</strong>
              <h3 class="mb-1">Adding a Patient</h3>
              <ul>
              <li>Click on Patients tab</li>
              <li>Click on "Add" to add new patient</li>
              <li>Enter Patient first name</li>
              <li>Enter Patient last name</li>
              <li>Enter Patient phone number with their country codes(+254731...)</li>
              <li>Enter Patient email address</li>
              <li>Enter Patient username</li>
            </ul>
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            </div>
          </div>
        </div>



        <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Step 2</strong>
              <h3 class="mb-1">Adding a Doctor</h3>
              <ul>
              <li>Navigate to Doctors tab</li>
              <li>Click on "Add" to add new doctor</li>
              <li>Enter doctor first name</li>
              <li>Enter doctor last name</li>
              <li>Select doctor phone number with their coutry codes(+254723...)</li>
              <li>Enter doctor email address</li>
              <li>Enter doctor username</li>
        </ul>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
    </div>
    </div>



    <div class="row mb-2">
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">Step 3</strong>
              <h3 class="mb-1">Adding a Service</h3>
              <ul>
              <li>Navigate to Services tab</li>
              <li>Click on "Add" to add new service</li>
              <li>Enter Service name</li>
              <li>Enter Service description</li>
            </ul>
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            </div>
          </div>
        </div>
        <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Step 4</strong>
          <h3 class="mb-1">Adding a Doctor Service</h3>
          <ul>
          <li>Click on doctor services menu</li>
          <li>Click on "Add" to link a doctor to a service</li>
          <li>Select doctor</li>
          <li>Select service</li>
        </ul>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
    </div>
    </div>



    <div class="row mb-2">
        <div class="col-md-12">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">Step 5</strong>
              <h3 class="mb-1">Adding a Doctor Time Slot</h3>
                <ul>
                  <li>Click on doctor time slots menu</li>
                  <li>Click on "Add" to provide appointment date for a doctor's service</li>
                  <li>Select doctor offering a particular service</li>
                  <li>Enter the start date</li>
                  <li>Enter the end date</li>
                </ul>
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            </div>
          </div>
        </div>
    </div>


    

<div class="row">
    <div class="col-md-12">
      <article class="blog-post">
        <h3 class="pb-4 pt-4 mb-4 mt-4 fst-italic border-bottom border-top text-center">Booking Appointments</h3>
        <p>Steps for a patient to make a doctor's appointment:</p>
        <ul>
          <li>Navigate to Africa's Talking Simulator URL: https://simulator.africastalking.com:1517/</li>
          <li>Enter the correct patient's phone number</li>
          <li>Click on "USSD"</li>
          <li>Enter the USSD code you had created e.g. *384*58965#</li>
          <li>Select a service you linked to a doctor</li>
          <li>Select the doctor offering the service, since you can multiple doctors offering the same service</li>
          <li>Select the date you want to book the appointment</li>
          <li>You will be notified of a successful appointment booking</li>
        </ul>
          <br>
        <p>Viewing appointments made:</p>
        <ul>
          <li>Click on appointments menu</li>
          <li>Click on "View" to view appointments made</li>
        </ul>
      </article>

    </div> 

  </div>

</main>


{% endblock content%}