{% extends 'hospital/base.html' %}

{% block content %}

<!-- ---------------------------------------------------------------------------------------------------------------------------------------------------- -->
<main class="container">
    <h3 class="pb-4 mb-4 fst-italic border-bottom text-center text-primary">
        Steps
      </h3>

<!-- ---------------------------------------------------------------------------------------------------------------------------------------------------- -->
    <div class="row mb-2">
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">Step 1</strong>
              <h3 class="mb-1 text-primary">Adding Patients</h3>
              <ul>
              <li>Navigate to the Patients Tab</li>
              <li>Add a new Patient from the tab dropdown</li>
              <li>Enter The Patient Form Details and Submit</li>
            </ul>
          </div>
           
          </div>
        </div>

<!-- ----------------------------------------------------------------------------------------------------------------------------------------------------         -->
      
<div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Step 2</strong>
          <h3 class="mb-1 text-primary">Adding Doctors</h3>
          <ul>
            <li>Navigate to Doctors Tab</li>
            <li>Add a Doctor from the tab dropdown</li>
            <li>Enter the Doctor Form Details and Submit</li>
        </ul>
        </div>

      </div>
    </div>
    </div>
<!-- ---------------------------------------------------------------------------------------------------------------------------------------------------- -->
    
     <div class="row mb-2">
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">Step 3</strong>
              <h3 class="mb-1 text-primary">Adding Services</h3>
              <ul>
                <li>Navigate to  Services Tab</li>
                <li>Add a new hospital Service from the dropdown </li>
                <li>Fill in the Service Name and Description</li>
            </ul>
            </div>
          
          </div>
        </div>

<!-- ---------------------------------------------------------------------------------------------------------------------------------------------------- -->
        
<div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Step 4</strong>
          <h3 class="mb-1 text-primary">Adding Doctor Services</h3>
          <ul>
          <li>Navigate to Doctor Services Tab</li>
          <li>Add a new Doctor-Service by clicking "Add"</li>
          <li>Enter all the necessary details in the form</li>
        </ul>
        </div>

      </div>
    </div>
    </div>

<!-- ---------------------------------------------------------------------------------------------------------------------------------------------------- -->
    

    <div class="row mb-2">
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">Step 5</strong>
              <h3 class="mb-1 text-primary">Adding Doctor TIme Slots</h3>
                <ul>
                  <li>Navigate to Doctor Time Slots</li>
                  <li>Click on "Add" to add new Date Slots for Doctos</li>
                  <li>Enter details as required by the form</li>
            </div>

          </div>
        </div>

<!-- ---------------------------------------------------------------------------------------------------------------------------------------------------- -->
       
<div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Step 6</strong>
          <h3 class="mb-1 text-primary">Adding Appointments</h3>
          <ul>
            <li>Navigate to Appointments menu</li>
            <li>Add a new Patient Appointment that wasn't able to book via USSD Codes</li>
            <li>Enter details as required in the form</li>
            </ul>
        </div>
       
      </div>
    </div>
 
  </div>
 


</main>


{% endblock content%}

