{% extends 'hospital/base.html' %}

{% block content %}
    <div class="right_col" role="main">
            <div class="">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="x_panel">
                    <div class="x_title">
                      <h2 class="text-center"> Services </h2>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <table id="service-datatable" class="table  table-hover  table-bordered" style="width: 100%;" >
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th class="text-center">Operations</th>
                          </tr>
                        </thead>

                        <tbody>
                            {% for service in services %}
                                <tr>
                                    <td>{{ service.name }}</td>
                                    <td>{{ service.description }}</td>
                                    <td  class="text-center">
                                            <a href="{% url 'services-update' service.pk %}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i> Edit </a>

                                    </td>
                                    <td  class="text-center">
                                      <a href="{% url 'services-delete' service.pk %}" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i> Delete </a>
                                    </td>
                                  </tr>
                            {% endfor %}
                        </tbody>
                      </table>

                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
{% endblock content%}